@model List<PopularTeacher>

@{
    ViewData["Title"] = "Popular Teachers";
}

<h1 class="h3 mb-4 text-gray-800">Popular Teachers</h1>

<a  asp-controller="PopularTeacher" asp-action="Create" class="btn btn-primary mb-3">Create New</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Full Name</th>
            <th>Profession</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var teacher in Model)
        {
            <tr>
                <td>@teacher.Id</td>
                <td>@teacher.FullName</td>
                <td>@teacher.Profession</td>
                <td>
                    <img src="~/uploads/@teacher.Image" width="60" />
                </td>
                <td>
                    <a asp-area="Admin" asp-controller="PopularTeacher" asp-action="Details" asp-route-id="@teacher.Id" class="btn btn-info btn-sm">Detail</a>
                    <a asp-area="Admin" asp-controller="PopularTeacher" asp-action="Edit" asp-route-id="@teacher.Id" class="btn btn-warning btn-sm">Edit</a>
                    <form asp-area="Admin" asp-controller="PopularTeacher" asp-action="Delete" asp-route-id="@teacher.Id" method="post" class="d-inline">
                        <button type="submit" class="btn btn-danger btn-sm" >Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>




